/* css navbar */
:root {
  --gradient2: linear-gradient(to bottom, #001EE0, #7A6EFF);
  --gradient3: linear-gradient(to right, #001EE0, #7A6EFF, #001EE0, #001EE0, #001EE0);
  --gradient5: linear-gradient(to right, #EFF3F5, #0051ff46, #EFF3F5, #4790b4b1, #0051ff46, #EFF3F5, #EFF3F5, #0051ff46, #EFF3F5, #EFF3F5, #0051ff46, #EFF3F5);
  --gradient1: linear-gradient(to right, #1d35576f, #7A6EFF );
  --gradientNavbar: linear-gradient(to bottom , #00159b, #001EE0);
  --gradientMain: linear-gradient(to bottom , #EFF3F5, #001EE0, #001ee0b7, #7A6EFF, #001EE0, #00159b,  #00159b, #00159b, #00159b);
  --gradientBody: linear-gradient(to bottom, #001EE0, #001EE0, #00138f);
}

/* wave animation */
.bg-color {
  background-image: var(--gradientBody);
  background-size: 200px;
}
a {
  text-decoration: none;
}

.imageFloat img {
    animation: shoeMove 6s  infinite;     
    width: 500px; 
    display: block;      
}
@keyframes shoeMove {
    0% { top: -10px; }
    50%{  top: -20px; rotate: 4deg; } 
    100% { top: -10px; };
}

.wave .wavee {
  background-size: 200%;
  opacity: 20%;
  width: 100%;
  height: 100%;
}

.wave  {
  bottom: 0;
  left: 0;
  width: 100%;
  /* min-height: ; */
  height: 100px;
  background-image: url(/ecommerce/img/wave.png);
  background-size: 100% 100%;
  animation: wave 40s linear infinite;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  50% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

/* fin wave animation */
/* CSS boton de busqueda */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: #7e4fd4;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #fff
}

.input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}
.icon:focus~.input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
 /* // */
.botonCarro {
  color:white;
  position: fixed;
  left: 93%;
  bottom: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-size: 400%;
  background-image: var(--gradientNavbar);
  animation: button infinite alternate;
}


.botonCarro:hover {
  width: 75px;
  height: 75px;
  background-image: var(--gradient2);
}

.botonCarro:active {
  background: rgb(255, 255, 255);
  transition: 5s;
}

i {
  color: white;
}

.logoNav {
  width: 60px;

}

nav {
  background-image: var(--gradientNavbar);
}

.buttonNav:hover {
  background-color: white;
}

nav div div ul li :hover {  
  border-radius: 25px;
  background-color: blue;
}


/* css cards de las zapatillas */
:hover .images {
  /* filter: blur(7px); */
  animation: anim 2s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

/* .images :hover {
  transform: scale(1.04) rotate(-1deg);
} */
div a:hover {
  background-image: var(--gradient4);
  color: white;
  background-size: 200%;
  transition: 0.5s;
  animation: buttons 1s infinite alternate;
}
.comprar:hover {
  background-size: 300%;
  background-image: var(--gradient3);
  animation: comprar 2s infinite alternate;
  font-weight:lighter;
  transition: 2s;
}
@keyframes comprar {
  0% {
    background-position: left;
  }

  /*por defecto*/
  100% {
    background-position: right;
  }
}
main {
  background-image: var(--gradientMain);
  background-size: 500%;
  /* animation: buttons 20s infinite alternate;
  transition: 3s; */
}

/* @keyframes buttons {
  0% {
    background-position: left;
  }

  /*por defecto*/
  /* 100% {
    background-position: right;
  }
} */

div>.imagenPrinc {
  max-width: 100%;
}

@keyframes shoeMove {
  0% {
    top: -10px;
  }

  50% {
    top: -20px;
    rotate: 4deg;
  }

  100% {
    top: -10px;
  }

  ;
}


#divText {
  background-color: white;

}

main div .cuadrads {
  width: 20%;
  height: 50%;
}

.images {
  width: 100%;
}

div>.images:hover {
  animation: imagess ease-in infinite;
}

@keyframes imagess {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.titulo {
  font-weight: bold;
  border-radius: 20px;
  border-color: blue;
  color: rgb(0, 0, 0);
  background-image: var(--gradientBtn);
  padding-top: 20px;
  padding-bottom: 20px;
}

main div img {
  display: block;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 10% cover 50%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 50%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

/* modal content */
.modal-container {
  font-size: 10px;
  width: 80%;
  margin: 0 10%;
  max-height: 84vh;
  max-width: 100%;
  color: #ffffff;
  border-radius: 15px;
  background-image: var(--gradientBody);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* for the top */
   position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
  display: none;
}
.modal-header{
  display: flex;
  justify-content: space-evenly;
  background-image: var(--gradient3);
  width: 100%;
  color: white;
}
.modal-header-title{
  justify-self: start;
}
.modal-header-button{
  cursor: pointer;
}
.modal-container > .modal-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}
.modal-container > div > img {
  height: 120px;
  width: 120px;
  margin-top: 10px;
  
}
.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
} 

/* delete button product */
.delete-product {
  cursor: pointer;
}
.filtro {
  display: none;
}
.input-wrapper{
  position: fixed;
  top: 20px;
  right: 20px;
}
.cantidadCarrito {
  font-weight:300;
  font-size: 14px;
  margin-left: 10px;
  display: none;
}
.sumar {
  cursor: pointer;
}
.restar {
  cursor: pointer;
}
@media screen and (max-width:600px) {
  .modal-container > .modal-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 10px;
  }
  .botonCarro {
    position: fixed;
    left: 78%;}
 .imageFloat img {
      width: 330px;
    }
    .input-wrapper{
      position: fixed;
      top: 100px;
      right: 10px;
      background-color: blue;
      border-radius: 25px;
    }
}   